.App {
    padding-top: 5rem;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #fafafa;
}

.navbar {
    background-color: #ef5350 !important;
  
}

.btn {
    display: inline-block;
    border: none;
    background: #55a0d6;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #666;
  }
  
  input {
    outline: none;
  }

  h1 {
    font-size: 2rem;
  }

  .back {
    background-color: #ef5350;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10rem;
    text-decoration: none;
    margin-top: 5px;
  }

  .back:hover {
    background-color: #55a0d6;
    color: #fff;
    text-decoration: none;
  
  }